<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Serna Sistemas</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Jadet/carrito.js"></script>
    <script>
        var categorias = new Array();
        var tiposcatalogos = new Array();
        var estatus = new Array();
        var zonas = new Array();
        var tiposnotas = new Array();
        var tipoestatus = new Array();
        const botones = "#btnGuardar, #btnGuardarCliente, #btnGuardarCatalogo, #btnGuardarEstatus, #btnEliminar, #btnGuardarNota, #btnEliminarCliente, #btnEliminarCatalogo, #btnEliminarEstatus";
        const K_ESTATUSNOTA = 3;
        const K_ESTATUSUSUARIO = 1;
        const K_ESTATUSPRODUCTO = 2;
    </script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jadet", "Index", "Home", new {
                    area = ""
                }, new {
                    @class = "navbar-brand"
                })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Ventas
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(linkText: "Preventa", actionName: "Productos", controllerName: "Cliente", routeValues: new { idTipo = 1 }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink(linkText: "VIP", actionName: "Productos", controllerName: "Cliente", routeValues: new { idTipo = 2 }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink(linkText: "En vivo (Live)", actionName: "Productos", controllerName: "Cliente", routeValues: new { idTipo = 3 }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink(linkText: "Existencias", actionName: "Productos", controllerName: "Cliente", routeValues: new { idTipo = 4 }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink(linkText: "Venta exprés", actionName: "Productos", controllerName: "Cliente", routeValues: new { idTipo = 5 }, htmlAttributes: null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Ver carrito", "Carrito", "Cliente")</li>
                    <li>@Html.ActionLink("Ver pedidos", "Pedidos", "Cliente")</li>
                    <li>@Html.ActionLink("Ver perfil", "Perfil", "Cliente")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
