@model Jadet.Models.notacollectionModel

@{
    ViewBag.Title = "Carritos";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Folio</th>
            <th rowspan="2">Tipo</th>
            <th rowspan="2">Fecha</th>
            <th colspan="2">Monto</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>MXN</th>
            <th>USD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
            <tr>
                <td>
                    @Html.ActionLink(linkText: item.Folio.ToString(), actionName: "DetalleCarrito", controllerName: "Cliente", routeValues: new { @idCarrito = item.Folio }, htmlAttributes: new { @class = "btn btn-lg btn-info" })
                </td>
                <td>@item.Tipo</td>
                <td>@item.Fecha</td>
                <td>@item.MontoMXN</td>
                <td>@item.MontoUSD</td>
                <td>
                    <a href="#@("btnhacerPedido"+@item.Folio)" class="btn btn-success" id="@("btnhacerPedido"+@item.Folio)"><i class="fa fa-lg fa-fax"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>