@model Jadet.Models.listaTicketsmodel

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-3">Folio</div>
    <div class="col-sm-3">@Model.Folio</div>
    <div class="col-sm-3">Fecha</div>
</div>
<div class="row">
    <div class="col-sm-3">Monto</div>
    <div class="col-sm-3">$ @Model.MontoMXN M. N. (@Model.MontoUSD USD)</div>
    <div class="col-sm-3">Saldo</div>
    <div class="col-sm-3">$ @Model.SaldoMXN M. N. (@Model.SaldoUSD USD)</div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>MontoMXN</th>
            <th>MontoUSD</th>
            <th><a href="#" class="btn btn-84004D" id="btnnuevoTicket" Folio="@Model.Folio"><i class="fa fa-file"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Fecha</td>
                <td>@item.MontoMXN</td>
                <td>@item.MontoUSD</td>
                <td><img src="~/Content/tickets/@item.Ruta" width="100"/></td>
            </tr>
        }
    </tbody>
</table>
