@model Jadet.Models.listaTicketsmodel

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>
@Model.Folio
@Model.IdTipo
@Model.Tipo
@Model.MontoMXN
@Model.MontoUSD
@Model.SaldoMXN
@Model.SaldoUSD
@foreach (var item in Model.Items) {
    @item.Fecha
    @item.Id
    @item.IdNota
    @item.MontoMXN
    @item.MontoUSD
    @item.Ticket
}