@model Jadet.Models.listaTicketsmodel

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>
@Model.Folio
@Model.IdTipo
@Model.Tipo
@Model.MontoMXN
@Model.MontoUSD
@Model.SaldoMXN
@Model.SaldoUSD
