@model Jadet.Models.loginmodel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="@Model.Home.UrlLogo"
                 style="width:100%" />
        </div>
        <div class="col-sm-10">
            <h1>@Model.Home.Nombre</h1>
            <p class="lead">@Model.Home.Slogan</p>
            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 card col-sm-offset-4">
            @using (Html.BeginForm("hazLogin", "Home"))
            {
                <div class="row">
                    <div class="col-sm-12 input-group">
                        <span class="input-group-addon" style="background-color: #E567B1;"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", placeholder = "Usuario" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 input-group">
                        <span class="input-group-addon" style="background-color: #E567B1;"><i class="fa fa-key"></i></span>
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Contraseña" })
                    </div>
                </div>
                <div class="row card-footer">
                    <div class="col-sm-12 text-center">
                        <div class="row col-sm-12">
                            <input type="submit" class="btn btn-CB0077-a btn-block" value="Iniciar sesión" />
                        </div>
                        <div class="row">
                            <span class="col-sm-12 text-danger">
                                @Html.DisplayFor(m => m.ErrorMensaje)
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-4 card">
            <img width="100%"
                 src="@Model.Home.UrlImgDer" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
</div>