@model Jadet.Models.listaComentariosmodel

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Mensaje</td>
            <td>@item.Fecha</td>
            <td>
                <a href="#" class="btn btn-warning-jadet" data-content="@item.Id" id="btnresponderd"><i class="fa fa-lg fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
