@model Jadet.Models.notacompletaModel

@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>

@Model.Cliente
@Model.Comentarios.Count
@Model.Estatus
@Model.Fecha
@Model.FechaEnvio
@Model.Folio
@Model.Guia
@Model.IdCliente
@Model.IdEstatus
@Model.IdPaqueteria
@Model.IdTipo
@Model.Items.Count
@Model.MontoMXN
@Model.MontoUSD
@Model.Paqueteria
@Model.SaldoMXN
@Model.SaldoUSD
@Model.Tickets.Count
@Model.Tipo

