@model Jadet.Models.listaproductosmodel

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th>SKU</th>
            <th colspan="2">Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>
                <a href="#" class="btn btn-success">Agregar</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@item.Sku</td>
            <td><img src="@item.RutaImagen" width="50px"</td>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td></td>
            <td>@item.Existencias</td>
            <td>
                <a href="#" class="btn btn-warning">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
