@model Jadet.Models.listaproductosmodel

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">SKU</th>
            <th rowspan="2" colspan="2">Producto</th>
            <th rowspan="2">Descripción</th>
            <th colspan="2">Precio</th>
            <th rowspan="2">Existencias</th>
            <th rowspan="2">Aplica Existencias</th>
            <th rowspan="2">Tipo de venta</th>
            <th rowspan="2">Categoría</th>
            <th rowspan="2">
                <a href="#" class="btn btn-CB0077-a" id="btnnuevoProducto"><i class="fa fa-lg fa-plus"></i></a>
            </th>
        </tr>
        <tr>
            <th>MXN</th>
            <th>USD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
            <tr>
                <td class="bg-secondary">@item.Id</td>
                <td>@item.Sku</td>
                <td>@item.Nombre</td>
                <td><img src="~/Content/productos/@(System.Text.Encoding.UTF8.GetString(item.Imagen))" width="50px" /></td>
                <td>@item.Descripcion</td>
                <td>@item.PrecioMXN</td>
                <td>@item.PrecioUSD</td>
                <td>@item.Existencias</td>
                <td>
                    @if (item.AplicaExistencias) {
                        @:Sí
                    } else {
                        @:No
                    }
                </td>
                <td>@item.Tipo</td>
                <td>@item.Categoria</td>
                <td>
                    <a href="#@("btneditarProducto"+@item.Sku)" class="btn btn-612580" id="@("btneditarProducto"+@item.Sku)" data-content="IdTipo:@(item.IdTipo)|IdCategoria:@(item.IdCategoria)"><i class="fa fa-lg fa-edit"></i></a>
                    <a href="#@("btneliminarProducto"+@item.Sku)" class="btn btn-F80012-a" id="@("btneliminarProducto"+@item.Sku)"><i class="fa fa-lg fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
