@model Jadet.Models.listaproductosmodel

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">SKU</th>
            <th rowspan="2" colspan="2">Producto</th>
            <th rowspan="2">Descripción</th>
            <th colspan="2">Precio</th>
            <th rowspan="2">Existencias</th>
            <th rowspan="2">Aplica Existencias</th>
            <th rowspan="2">Categoría</th>
            <th rowspan="2">
                <a href="#" class="btn btn-success" id="btnnuevoProducto">Agregar</a>
            </th>
        </tr>
        <tr>
            <th>MXN</th>
            <th>USD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Sku</td>
                @*<td><img src="@item.RutaImagen" width="50px"</td>*@
                <td>@item.Nombre</td>
                <td></td>
                <td>@item.Descripcion</td>
                <td>@item.PrecioMXN</td>
                <td>@item.PrecioUSD</td>
                <td>@item.Existencias</td>
                <td>
                    @if (item.AplicaExistencias)
                    {
                        @:Sí
                    }
                    else
                    {
                        @:No
                    }
            </td>
            <td>@item.Categoria</td>
            <td>
                <a href="#@("btneditarProducto"+@item.Sku)" class="btn btn-warning" id="@("btneditarProducto"+@item.Sku)">Editar</a>
                <a href="#@("btneliminarProducto"+@item.Sku)" class="btn btn-danger" id="@("btneliminarProducto"+@item.Sku)">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>



