@model Jadet.Models.listaTicketsmodel

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table table-active table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">Nota</th>
            <th rowspan="2">Ticket</th>
            <th rowspan="2">Fecha</th>
            <th colspan="2">Monto</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>MXN</th>
            <th>USD</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.IdNota</td>
            <td><a href="#" id="ticket@(item.Id)" src="~/Content/tickets/@item.Ruta"><img src="~/Content/tickets/@item.Ruta" width="100" /></a></td>
            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
            <td>@item.MontoMXN</td>
            <td>@item.MontoUSD</td>
        </tr>
        }
    </tbody>
</table>
